<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workustimeus</title>
    <script>
        
        function fillMinutes(minutes) {
            document.getElementById("dauer").value = minutes;
        }
    </script>
</head>
<body>
    
    <form action="/worktime" method="post">
        <label for="startzeit">Startzeit:</label>
        <input type="time" id="startzeit" name="startzeit" required><br><br>
        <label for="dauer">Arbeitszeitdauer (in Minuten):</label>
        <input type="number" id="dauer" name="dauer" required value="462"><br><br>
        <label for="pause">Pausendauer (in Minuten):</label>
        <input type="number" id="pause" name="pause" value="0"><br><br>
        <!-- Your buttons for filling minutes -->
        <button type="button" onclick="fillMinutes(60)">1 Stunde</button>
        <button type="button" onclick="fillMinutes(270)">4,5 Stunden</button>
        <button type="button" onclick="fillMinutes(462)">7,7 Stunden</button>
        <button type="button" onclick="fillMinutes(480)">8 Stunden</button>
        <button type="button" onclick="fillMinutes(720)">12 Stunden</button><br><br>
        <input type="submit" value="Berechnen"><br><br>
        <button onclick="window.location.href='/';"> Home Zweet ome </button>
    </form>
    {{if .Result}}
    <div>
        <p>{{.Result}}</p>
    </div>
    {{end}}
        
</body>
</html>